body {
    width: 100%;
    height: 100%;
    margin: auto;
}

#Sunday, #Monday, #Tuesday, #Wednesday, 
#Thursday, #Friday, #Saturday {
    width: 150px;
    height: 715px;
    margin: auto;
    border-left: 1px solid black;
    border-top: 1px solid black;
    float: left;
    position: relative;
}

#Saturday {
    border-right: 1px solid black;
}

#day-header, #divider-day, #divider-night {
    border-bottom: 1px solid black;
}

#time-col {
    width: 40px;
    height: 700px;
    margin: auto;
    float: left;
}

#divider-day, #divider-night, #time-value {
    width: 100%;
    height: 5vh;
}

#divider-day, #divider-night {
    text-align:center;
    position: relative;
}

#divider-day:before, #divider-night:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-top: 1px solid rgb(16,16,16);
    width: 100%;
    transform: translateY(-50%);
}

#time-value {
    margin: 1px;
}

#time-night, #divider-night {
    display:none;
}

#toolbar {
    position: relative;
    background-color: ghostwhite;
    float: left;
    width: 300px;
    height: 715px;
    border: 1px solid black;
}

#prev-button {
    float: left;
}

#next-button {
    float: right;
}

#prev-button, #next-button {
    margin: 5px 0px 0px 0px;
}

#main-display {
    text-align: center;
}

#display-event {
    /*display: none; for testing purposes*/
    display: none;
    width: 90%;
    height: auto;
    background-color: ghostwhite;
    margin: 5vh 2vh 1vh 2vh;
    border: 2px solid gray;
    text-align: center;
}

#display-title, #display-date, #display-time, #display-info {
    margin: 2px;
}

#display-info {
    /*display: block; for testing purposes*/
    display: none;
    position: absolute;
    width: 90%;
    height: 42vh;
    background-color: ghostwhite;
    margin: 5vh 2vh 4vh 2vh;
    border: 2px solid gray;
    text-align: center;
}

#edit-button {
    /*display: block; for testing purposes*/
    display: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#form-info-old {
    width: 90%;
    height: 120px;
}

#display-new {
    /*display: block; for testing purposes*/
    display: none;
    position: absolute;
    width: 90%;
    height: 42vh;
    background-color: ghostwhite;
    margin: 1vh 2vh;
    border: 2px solid gray;
    text-align: center;
    bottom: 0;
}

#x-button {
    float: right;
    vertical-align: top;
    background: ghostwhite;
    border: none;
    margin: 1px;
}

#new-button {
    /*display: none; for testing purposes*/
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    bottom: 0;
}

#event-title {
    display: block;
    padding: 22px 0px 5px 0px;
}

#form-title {
    display: block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#date-wrapper {
    display: block;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-top: 10px;
}

#event-date {
    float: left;
}

#form-month {
    float: left;
    width: 25px;
}

#form-day {
    float: left;
    width: 25px;
}

#form-year {
    float: left;
    width: 30px;
}

#date-dash {
    float: left;
}

#time-wrapper {
    display: block;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-top: 5px;
}

#time-label {
    float: left;
}

#time-from, #time-to {
    float: left;
    width: 35px;
}

#period-from {
    float: left;
    margin: 0px 5px 0px 0px;
}

#period-to {
    float: left;
}

#event-info {
    display: block;
    margin: 0px 0px 5px 0px;
}

#form-info-new {
    width: 90%;
    height: 120px;
}
#save-button {
    float: left;
    margin: 1px 0px 0px 9px;
}

#reset-button {
    float: right;
    margin: 1px 9px 0px 0px;
}